<h1>{{title}}</h1>


<div class="items">
    {{#each items}}
        <div class="item">
            <h2>name:{{this.name}}</h2>
            <p>Description:{{this.description}}</p>
            <p>location: ${{this.location}}</p>
            <p>Status: {{this.status}}</p>
            <p>Contact: ${{this.contactPerson}}</p>

        </div>
    {{/each}}
</div>